// indebted and with much reference to dxmh's zmk-config

#define LONG_TIMEOUT_MS 100
#define NORMAL_LAYERS 0 1 2

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define COMBO_LONG(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <LONG_TIMEOUT_MS>; \
  };

/*           34 Keys
╭──────────────╮ ╭──────────────╮
│ 0  1  2  3  4│ │ 5  6  7  8  9│
│10 11 12 13 14│ │15 16 17 18 19│
│20 21 22 23 24│ │25 26 27 28 29│
╰────────╮30 31│ │32 33╭────────╯
         ╰─────╯ ╰─────╯         */

/* 
 0  1  2  3  4  5    6  7  8  9   10 11 12 13 14 15
16 17 18 19 20 21   22 23 24 25   26 27 28 29 10 31
32 33 34 35 36 37   38 39 40 41   42 43 44 45 46 46 
*/
/ {
  combos {
    compatible = "zmk,combos";
        
    COMBO(esc, &kp ESC, 1 2, 0)
    COMBO_LONG(capsword, &caps_word, 14 15, 0)

    COMBO(cleft,  &kp LEFT, 27 28, 0)
    COMBO(cright, &kp RIGHT, 28 29, 0)
    COMBO(cup,    &kp UP, 28 12, 0)
    COMBO(cdown,  &kp DOWN, 28 44, 0)

    COMBO(rbkt,  &kp DE_RBKT, 4 5, 7)
    COMBO(rpar,  &kp DE_RPAR, 20 21, 7)
    COMBO(rbrc,  &kp DE_RBRC, 36 37, 7)
    COMBO(gt,    &kp DE_GT, 19 20, 7)

  };
};