if SHIELD_SPLAYNEY_LEFT

config ZMK_KEYBOARD_NAME
    default "splayney"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLAYNEY_LEFT || SHIELD_SPLAYNEY_RIGHT

config ZMK_SPLIT
    default y
    
endif