/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
//            bindings = <
//            &kp ESC   &kp Q &kp W &kp E &kp R &kp T    &kp Q &kp W   &kp E &kp R   &kp Y &kp U  &kp I     &kp O   &kp P     &kp BSLH
 //           &kp TAB   &kp A &kp S &kp D &kp F &kp G    &kp A &kp S   &kp D &kp F   &kp H &kp J  &kp K     &kp L   &kp SEMI  &kp SQT
//            &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp Y &kp X   &kp C &kp V   &mo N &kp M  &kp COMMA &kp DOT &kp N     &kp M
//            >;

            bindings = <
            &kp ESC  &kp Q  &kp W  &kp E  &kp R  &kp T     &kp Q    &kp ENTER  &kp ENTER  &kp SPACE  &kp Z  &kp U  &kp I      &kp O    &kp P      &kp Q
            &kp TAB  &kp A  &kp S  &kp D  &kp F  &kp G     &kp W    &kp ENTER  &kp ENTER  &kp SPACE  &kp H  &kp J  &kp K      &kp L    &kp POUND  &kp A
            &kp LT   &kp Y  &kp X  &kp C  &kp V  &kp B     &kp E    &kp ENTER  &kp ENTER  &kp SPACE  &kp N  &kp M  &kp COMMA  &kp DOT  &kp MINUS  &kp Y
            >;

        // default_layer {
        //     bindings = <
        //     // Erste Zeile (Zeile 0)
        //     &kp ESC   &kp Q &kp W &kp E &kp R &kp T                                &kp Y &kp U &kp I &kp O &kp P &kp BSLH
        //     // Zweite Zeile (Zeile 1)
        //     &kp TAB   &kp A &kp S &kp D &kp F &kp G                                &kp H &kp J &kp K &kp L &kp SEMI &kp SQT
        //     // Dritte Zeile (Zeile 2)
        //     &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp A &kp B   &kp C &kp D   &mo E &kp F &kp N &kp M &kp COMMA &kp DOT 
        //     // Thumb Cluster (angepasst an deine Transform-Matrix)
        //                                     &kp Q  &kp W &kp E &kp R &kp Y &kp X &kp C &kp V  
        //     >;


        };
    };
};